<h1>
<% if @task.completed %>
<i class="fa-regular fa-square-check"></i>
<% else %>
<i class="fa-regular fa-square"></i>
<% end %>
<%= @task.title.capitalize %></h1>
<h5>
  <%= @task.details.capitalize %>
  <br>
</h5>
<%= link_to "Delete task",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>



<%= link_to "Back to list", tasks_path %>
<%= link_to "Edit this task", edit_task_path %>
